ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7b8c4;
}
li{
    display: inline;
    float: right;
}
li a {
    display: block;
    color: white;
    font-size: 25px;
    font-family: Didot;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    display: inline-block;
    color: #67483e;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-weight: bolder!important;
    font-size: 70px;
    margin-top: 60px;
}

h2{
    display: block;
    color: #FFF9EE;
    font-size: 30px;
    text-align: center;
    line-height: 0px;
    text-shadow: #4f415d 1px 2px 4px;
    margin: 0px 30px 0px 30px;
}

form {
    justify-content: center;
    text-align: center;
    color: #fff8f8;
    font-family: Didot;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-flow: row wrap;
    vertical-align: middle;
    padding: 100px;

}
label{
    /*vertical-align: middle;*/
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    margin: 5px 10px 5px 0;
}

input{

    background-color: #fff9ee;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    font-size: 16px;
    box-shadow: #42205d 1px 2px;
}
button{
    background-color: #d7b8c4;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bolder;
    border: #9090a4 1px solid;
    padding: 10px;
    box-shadow: #42205d 1px 2px;
    cursor: pointer;
}
div {
    text-align: center;
    background-image: url("assets/images/wheat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: #42205d 1px 2px 4px;
    margin: 60px 100px 0px 100px;
    border: #bcbcd6 1px solid;
}

#protected-content{
    min-height: 500px;
}

select { display: block; border: #bcbcd6 1px solid; padding: 10px; box-shadow: #42205d 1px 2px 4px;}
option{ font-size: 18px; font-weight: bolder; }
#select-btn{margin-top: 20px;}